.profile {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .profile h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .profile ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .profile li {
    margin-bottom: 5px;
  }